* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #dfe6e9;
  background: #2f3640;
  padding: 20px;
}

input, textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 4px;
}

.card {
  background: #222f3e;
  border: 1px solid #dfe6e9;
  border-radius: 4px;
  margin: 10px;
  list-style: none;
  padding: 20px;
}

.btn {
  color: #fff !important;
  text-decoration: none;
  padding: 15px;
  border-radius: 50px;
  display: block;
  border: none;
  transition: all 0.4s ease 0s;
  margin:0 auto;
}

.card > h4, p {
  padding: 7px;
}

.btn-danger {
  background: #ed3330;
}

.btn-secondary {
  background: #c8d6e5;
  color: #222f3e !important; 
}

.btn:hover {
  background: #434343;
  color: white !important;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
